Repository akumm7491/coworker-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

Updating auth wip
  src/App.tsx
  src/components/auth/LoginModal.tsx
  src/services/api.ts
  src/store/slices/authSlice.ts
Due: eslint --fix, prettier --write

added some tests but still wip and fixing some integration with the backend.
  docker/backend/Dockerfile
  server/entrypoint.sh
  server/jest.config.js
  server/jest.config.mjs
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/index.ts
  server/src/middleware/error.ts
  server/src/routes/agents.ts
  server/src/routes/projects.ts
  server/src/tests/helpers/testHelper.ts
  server/src/tests/integration/agents.test.ts
  server/src/tests/integration/auth.test.ts
  server/src/tests/integration/projects.test.ts
  server/src/tests/setup.ts
  server/src/types/shared.ts
  server/start-dev.sh
  server/start-server.sh
  server/tsconfig.json
  src/components/projects/NewAgentModal.tsx
  src/components/projects/NewTaskModal.tsx
  src/pages/Dashboard/index.tsx
  src/pages/Projects/components/TaskList.tsx
  src/services/api.ts
  src/store/index.ts
  src/store/slices/agentsSlice.ts
  src/store/slices/projectsSlice.ts
  src/store/slices/tasksSlice.ts
  src/store/slices/userSlice.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

added postrgres but backend crashing, still work in progress.
  docker-compose.dev.yml
  docker/backend/Dockerfile.dev
  docker/frontend/Dockerfile.dev
  package-lock.json
  server/package.json
  server/src/config/passport.ts
  server/tsconfig.json.new
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

App login works, still issues when pulling project related info.
  server/.env.example
  server/src/app.ts
  server/src/config/passport-config.ts
  server/src/repositories/user.repository.ts
  src/contexts/AuthContext.tsx
  src/services/api.ts
  src/store/slices/authSlice.ts
  src/types/auth.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

Can now login and stay logged in
  server/src/controllers/agents.ts
  server/src/controllers/auth.ts
  server/src/routes/agents.ts
  server/src/routes/auth.ts
  server/src/utils/catchAsync.ts
  src/App.tsx
  src/components/auth/LoginModal.tsx
  src/components/auth/LoginModal.tsx.new
  src/contexts/AuthContext.tsx
  src/services/api.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

Auth with register, login, logout and token management all working again.
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/config/env.ts
  server/src/config/passport-config.ts
  server/src/config/passport.ts
  server/src/controllers/auth.ts
  server/src/middleware/auth.ts
  server/src/middleware/security.ts
  server/src/models/User.ts
  server/src/routes/analytics.ts
  server/src/routes/auth.ts
  server/src/scripts/check-user.ts
  server/src/scripts/delete-user.ts
  server/src/scripts/hash-password.ts
  server/src/scripts/reset-password.ts
  server/src/server.ts
  server/src/tests/helpers/testHelper.ts
  server/src/tests/integration/auth.test.ts
  server/src/tests/integration/projects.test.ts
  server/src/tests/integration/projects.test.ts.new
  server/src/tests/setup.ts
  src/components/auth/LoginModal.tsx.new
  src/services/api.ts
  src/services/api.ts.new
  src/store/slices/authSlice.ts
  src/utils/tokenStorage.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

Project loading wip.
  src/components/projects/ProjectCard.tsx
  src/pages/ProjectDetails.tsx
  src/router.tsx
  src/services/api.ts
  src/services/apiTypes.ts
Due: eslint --fix, prettier --write

Project details now loading
  docker-compose.dev.yml
  docker/frontend/Dockerfile.dev
  package.json
  src/components/project/AgentsList.tsx
  src/components/project/IntegrationsList.tsx
  src/components/project/TasksList.tsx
  src/hooks/useApi.ts
  src/pages/ProjectDetails.tsx
  src/types/agent.ts
  src/types/project.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

Showing projects with tasks and agents.
  docker-compose.yml
  docker/backend/Dockerfile
  server/src/config/data-source.ts
  server/src/config/database.ts
  server/src/migrations/1700000000000-CreateUsersTable.temp.ts
  server/src/migrations/1700000000000-CreateUsersTable.ts
  server/src/migrations/1700000000001-CreateProjectsTable.ts
  server/src/migrations/1700000000002-UpdateColumnTypes.ts
  server/src/migrations/1700406906000-CreateUsersTable.ts
  server/src/migrations/1700513600000-InitialSchema.ts
  server/src/migrations/1700513700000-CleanupTasksWithoutProject.ts
  server/src/migrations/1706043600000-AlignProjectWithFrontend.ts
  server/src/models/Agent.ts
  server/src/models/Project.ts
  server/src/models/Task.ts
  server/src/routes/projects.ts
  server/src/routes/tasks.ts
  server/src/scripts/run-migrations.ts
  server/tsconfig.json
  src/components/project/AgentsList.tsx
  src/components/project/EnvironmentManager.tsx
  src/components/project/TasksList.tsx
  src/components/project/modals/NewAgentModal.tsx
  src/components/project/modals/NewIntegrationModal.tsx
  src/components/project/modals/NewTaskModal.tsx
  src/components/project/modals/ProjectSettingsModal.tsx
  src/pages/ProjectDetails.tsx
  src/pages/Projects/components/TaskList.tsx
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

Creating agents wip.
  src/components/project/modals/NewAgentModal.tsx
  src/components/project/modals/NewIntegrationModal.tsx
  src/components/project/modals/NewTaskModal.tsx
  src/pages/ProjectDetails.tsx
  src/types/project.ts
  src/types/task.ts
Due: eslint --fix, prettier --write

Monolith --> Microservice migration Phase 1
  server/src/core/errors/ConcurrencyError.ts
  server/src/core/events/EventBus.ts
  server/src/core/events/PostgresEventStore.ts
  server/src/core/events/examples/AgentEvents.ts
  server/src/core/events/types.ts
  server/src/core/utils/retry.ts
  server/src/migrations/1700000000000-CreateEventsTable.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

Monolith --> Microservice migration phase 2
  server/src/core/commands/CommandBus.ts
  server/src/core/commands/types.ts
  server/src/core/domain/Agent.ts
  server/src/core/domain/Aggregate.ts
  server/src/core/readmodels/AgentReadModel.ts
  server/src/core/readmodels/AgentReadModelRepository.ts
  server/src/core/readmodels/EventProcessor.ts
  server/src/core/readmodels/PostgresReadModelRepository.ts
  server/src/core/readmodels/types.ts
  server/src/migrations/1700000000001-CreateAgentReadModelsTable.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

Monolith --> Microservice migration phase 3
  docker-compose.dev.yml
  server/package-lock.json
  server/package.json
  server/src/core/agent/AgentRunner.ts
  server/src/core/agent/AgentSystem.ts
  server/src/core/agent/AgentTaskExecutor.ts
  server/src/core/agent/tasks/ProjectManagementTasks.ts
  server/src/core/agent/types.ts
  server/src/core/commands/agent/AgentCommandHandlers.ts
  server/src/core/commands/agent/AgentCommands.ts
  server/src/core/commands/types.ts
  server/src/core/events/examples/AgentEvents.ts
  server/src/core/readmodels/AgentReadModelRepository.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

DDD EventDriven Microservices WIP
  backend/packages/service-base/package.json
  backend/packages/service-base/src/controller/base.controller.ts
  backend/packages/service-base/src/guards/auth.guard.ts
  backend/packages/service-base/src/index.ts
  backend/packages/service-base/src/interfaces/paginated-response.interface.ts
  backend/packages/service-base/src/interfaces/pagination-params.interface.ts
  backend/packages/service-base/src/module/base.module.ts
  backend/packages/service-base/src/service/base.service.ts
  backend/packages/service-base/tsconfig.json
  backend/packages/shared/src/agents/collaboration/CollaborationProtocol.ts
  backend/packages/shared/src/agents/implementations/collaboration/ConsensusProtocol.ts
  backend/packages/shared/src/agents/learning/LearningSystem.ts
  backend/packages/shared/src/agents/planning/TaskPlanner.ts
  backend/services/agent-service/package.json
  backend/services/agent-service/src/collaboration/ConsensusProtocol.ts
  backend/services/agent-service/src/learning/ReinforcementLearningSystem.ts
  backend/services/agent-service/src/planning/AdaptiveTaskPlanner.ts
  backend/services/agent-service/tsconfig.json
Due: eslint --fix, prettier --write

Shared kernel wip
  backend/packages/shared-kernel/src/common/errors/BaseError.ts
  backend/packages/shared-kernel/src/common/errors/DomainError.ts
  backend/packages/shared-kernel/src/common/errors/InfrastructureError.ts
  backend/packages/shared-kernel/src/common/retry/RetryStrategy.ts
  backend/packages/shared-kernel/src/domain/cqrs/Command.ts
  backend/packages/shared-kernel/src/domain/cqrs/Query.ts
  backend/packages/shared-kernel/src/domain/events/EventStore.ts
  backend/packages/shared-kernel/src/domain/sagas/Saga.ts
  backend/packages/shared-kernel/src/infrastructure/concurrency/DistributedLock.ts
  backend/packages/shared-kernel/src/infrastructure/messaging/MessageBus.ts
  backend/packages/shared-kernel/src/infrastructure/messaging/Outbox.ts
  backend/packages/shared-kernel/src/infrastructure/resilience/CircuitBreaker.ts
  backend/packages/shared-kernel/src/observability/Telemetry.ts
  backend/packages/shared-kernel/src/validation/DomainValidator.ts
  backend/packages/shared-kernel/src/validation/Validator.ts
Due: eslint --fix, prettier --write

shared-kernel setup wip
  backend/packages/shared-kernel/README.md
  backend/packages/shared-kernel/src/common/retry/RetryStrategy.ts
  backend/packages/shared-kernel/src/examples/domain/UserAggregate.ts
  backend/packages/shared-kernel/src/examples/infrastructure/UserRepository.ts
  backend/packages/shared-kernel/src/examples/value-objects/Email.ts
  backend/packages/shared-kernel/src/infrastructure/cache/RedisCache.ts
  backend/packages/shared-kernel/src/infrastructure/health/HealthCheck.ts
  backend/packages/shared-kernel/src/infrastructure/messaging/MessageBus.ts
  backend/packages/shared-kernel/src/infrastructure/persistence/BaseRepository.ts
  backend/packages/shared-kernel/src/infrastructure/persistence/IRepository.ts
  backend/packages/shared-kernel/src/infrastructure/security/RateLimiter.ts
  backend/packages/shared-kernel/src/observability/Logger.ts
  backend/packages/task-service/src/infrastructure/persistence/TaskRepository.ts
Due: eslint --fix, prettier --write

task service running in docker
  backend/services/task-service/Dockerfile
  backend/services/task-service/Dockerfile.dev
  backend/services/task-service/docker-compose.yml
  backend/services/task-service/package.json
  backend/services/task-service/src/TaskModule.ts
  backend/services/task-service/src/app.module.ts
  backend/services/task-service/src/application/handlers/TaskCommandHandlers.ts
  backend/services/task-service/src/application/handlers/TaskQueryHandlers.ts
  backend/services/task-service/src/config/typeorm.config.ts
  backend/services/task-service/src/constants/injection-tokens.ts
  backend/services/task-service/src/domain/models/Task.ts
  backend/services/task-service/src/infrastructure/persistence/TaskRepository.ts
  backend/services/task-service/src/infrastructure/persistence/TaskRepositoryModule.ts
  backend/services/task-service/src/main.ts
  docker-compose.yml.new
Due: eslint --fix, prettier --write

Crud operations for task-service is working properly now.
  backend/services/task-service/Dockerfile
  backend/services/task-service/Dockerfile.dev
  backend/services/task-service/src/TaskModule.ts
  backend/services/task-service/src/application/commands/DeleteTaskCommand.ts
  backend/services/task-service/src/application/commands/UpdateTaskCommand.ts
  backend/services/task-service/src/application/handlers/TaskCommandHandlers.ts
  backend/services/task-service/src/application/handlers/TaskEventHandlers.ts
  backend/services/task-service/src/application/handlers/TaskQueryHandlers.ts
  backend/services/task-service/src/domain/events/TaskEvents.ts
  backend/services/task-service/src/infrastructure/filters/DomainErrorFilter.ts
  backend/services/task-service/src/interfaces/http/TaskController.ts
  backend/services/task-service/src/main.ts
  backend/services/task-service/tsconfig.json
  docker-compose.yml
Due: eslint --fix, prettier --write

Basic docs setups
  backend/packages/shared-kernel/package.json
  backend/packages/shared-kernel/src/swagger/decorators.ts
  backend/packages/shared-kernel/src/swagger/index.ts
  backend/packages/shared-kernel/src/swagger/swagger.module.ts
  backend/services/task-service/package.json
  backend/services/task-service/src/app.module.ts
  backend/services/task-service/src/application/commands/CreateTaskCommand.ts
  backend/services/task-service/src/domain/models/Task.ts
  backend/services/task-service/src/interfaces/http/TaskController.ts
  backend/services/task-service/src/main.ts
Due: eslint --fix, prettier --write

swagger docs improvements
  backend/services/task-service/src/application/commands/UpdateTaskCommand.ts
  backend/services/task-service/src/interfaces/http/TaskController.ts
  backend/services/task-service/src/main.ts
Due: eslint --fix, prettier --write

Task service swagger setup
  backend/services/task-service/src/interfaces/http/TaskController.ts
Due: eslint --fix, prettier --write

e2e test setup and working with all tests passing.
  backend/packages/shared-kernel/src/testing/BaseTestBuilder.ts
  backend/packages/shared-kernel/src/testing/TestUtils.ts
  backend/packages/shared-kernel/tsconfig.json
  backend/services/task-service/.env.test
  backend/services/task-service/jest.config.js
  backend/services/task-service/package.json
  backend/services/task-service/src/TaskModule.ts
  backend/services/task-service/src/application/commands/UpdateTaskCommand.ts
  backend/services/task-service/src/application/commands/__tests__/UpdateTaskCommand.spec.ts
  backend/services/task-service/src/application/handlers/TaskCommandHandlers.ts
  backend/services/task-service/src/application/handlers/TaskQueryHandlers.ts
  backend/services/task-service/src/config/typeorm.config.ts
  backend/services/task-service/src/domain/errors/TaskNotFoundError.ts
  backend/services/task-service/src/domain/models/__tests__/Task.spec.ts
  backend/services/task-service/src/domain/models/__tests__/TaskBuilder.ts
  backend/services/task-service/src/infrastructure/filters/DomainErrorFilter.ts
  backend/services/task-service/src/infrastructure/filters/TaskNotFoundFilter.ts
  backend/services/task-service/src/infrastructure/persistence/TaskRepositoryModule.ts
  backend/services/task-service/src/interfaces/http/TaskController.ts
  backend/services/task-service/test/jest-e2e.json
  backend/services/task-service/test/task.e2e-spec.ts
  backend/services/task-service/tsconfig.json
Due: eslint --fix, prettier --write

initial auth setup in shared kernel
  backend/packages/shared-kernel/package.json
  backend/packages/shared-kernel/src/domain/auth/AuthModule.ts
  backend/packages/shared-kernel/src/domain/auth/config/JWTConfig.ts
  backend/packages/shared-kernel/src/domain/auth/decorators/AuthDecorators.ts
  backend/packages/shared-kernel/src/domain/auth/errors/AuthErrors.ts
  backend/packages/shared-kernel/src/domain/auth/events/AuthEvents.ts
  backend/packages/shared-kernel/src/domain/auth/guards/BaseAuthGuard.ts
  backend/packages/shared-kernel/src/domain/auth/index.ts
  backend/packages/shared-kernel/src/domain/auth/rbac/types.ts
  backend/packages/shared-kernel/src/domain/auth/services/JWTService.ts
  backend/packages/shared-kernel/src/domain/auth/types/auth.types.ts
  backend/packages/shared-kernel/src/testing/TestUtils.ts
Due: eslint --fix, prettier --write

Identity services updates with docker.
  backend/services/identity-service/.dockerignore
  backend/services/identity-service/Dockerfile
  backend/services/identity-service/Dockerfile.dev
  backend/services/identity-service/package.json
  backend/services/identity-service/src/IdentityModule.ts
  backend/services/identity-service/src/application/services/PasswordHashingService.ts
  backend/services/identity-service/src/application/services/UserService.ts
  backend/services/identity-service/src/domain/errors/UserErrors.ts
  backend/services/identity-service/src/domain/events/UserEvents.ts
  backend/services/identity-service/src/domain/models/User.ts
  backend/services/identity-service/src/domain/repositories/IUserRepository.ts
  backend/services/identity-service/src/index.ts
  backend/services/identity-service/src/infrastructure/auth/GithubStrategy.ts
  backend/services/identity-service/src/infrastructure/auth/GoogleStrategy.ts
  backend/services/identity-service/src/infrastructure/auth/JwtStrategy.ts
  backend/services/identity-service/src/infrastructure/controllers/AuthController.ts
  backend/services/identity-service/tsconfig.json
  docker-compose.yml
Due: eslint --fix, prettier --write

identity service running in docker but not connecting to db.
  backend/services/identity-service/src/UserModule.ts
  backend/services/identity-service/src/application/services/UserService.ts
  backend/services/identity-service/src/auth/AuthModule.ts
  backend/services/identity-service/src/auth/AuthService.ts
  backend/services/identity-service/src/auth/strategies/jwt.strategy.ts
  backend/services/identity-service/src/domain/models/User.ts
  backend/services/identity-service/src/domain/repositories/tokens.ts
  backend/services/identity-service/src/infrastructure/controllers/AuthController.ts
  backend/services/identity-service/src/infrastructure/repositories/UserRepository.ts
Due: eslint --fix, prettier --write

Identity service running on docker now.
  backend/services/identity-service/docker-compose.yml
  backend/services/identity-service/src/config/typeorm.config.ts
Due: eslint --fix, prettier --write

Map ports correctly
  backend/services/identity-service/docker-compose.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  cd server && eslint --fix: any of: server/**/*.{js,ts}
  cd server && prettier --write: any of: server/**/*.{js,ts}
